<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywf.mybatis.mapper.IDeptMapper">

    <resultMap type="Dept" id="deptResultMap">
        <result property="id" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <collection property="employList" ofType="Employ" column="dept_id">
            <id property="id" column="employ_id"></id>
            <result property="employName" column="employ_name"/>
        </collection>
    </resultMap>
    <!-- 获取所有部门信息，包含部门底下的员工 -->
    <select id="findAll" resultMap="deptResultMap">
        SELECT d.*,e.id as employ_id, e.employ_name FROM dept d LEFT JOIN employ e ON e.dept_id = d.id
    </select>

    <select id="findList" resultType="Dept">
        SELECT * FROM DEPT
        <where>
            <choose>
                <when test="deptName != null">
                    <bind name="deptNameLike" value="'%' + deptName + '%'"></bind>
                    and dept_name like #{deptNameLike}
                </when>
            </choose>
        </where>
    </select>

    <select id="findByForeachArray" resultType="Dept">
        SELECT * FROM DEPT
        <where>
            id IN
            <foreach collection="idArray" item="ids" open="(" close=")" separator=",">
                #{ids}
            </foreach>
        </where>
    </select>

    <select id="findByForeachList" resultType="Dept">
        SELECT * FROM DEPT
        <where>
            id IN
            <foreach collection="idList" item="ids" open="(" close=")" separator=",">
                #{ids}
            </foreach>
        </where>
    </select>

    <select id="findByForeachMap" resultType="Dept">
        SELECT * FROM DEPT
        <where>
            id IN
            <foreach collection="idMap.idArray" item="ids" open="(" close=")" separator=",">
                #{ids}
            </foreach>
        </where>
    </select>

    <select id="findByIdsAndDeptName" resultType="Dept">
        SELECT * FROM DEPT
        <where>
            <if test="queryMap.idArray != null">
                and id IN
                <foreach collection="queryMap.idArray" item="ids" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
            <if test="queryMap.deptName != null">
                and dept_name like concat('%', #{queryMap.deptName}, '%');
            </if>
        </where>
    </select>

    <resultMap id="lazyDeptResultMap" type="Dept">
        <result column="d_id" property="id" />
        <result column="dept_name" property="deptName" />
        <collection property="employList" ofType="Employ" column="d_id"
                    select="com.ywf.mybatis.mapper.IEmployMapper.findByDeptId"
                    fetchType="lazy"
        />
    </resultMap>

    <!-- 获取所有部门信息，延迟加载部门底下的员工新 -->
    <select id="lazyFindAll" resultMap="lazyDeptResultMap">
        SELECT d.id as d_id, d.dept_name FROM dept d
    </select>

    <!-- 根据ID获取部门信息 -->
    <select id="getById" resultType="Dept">
        SELECT * FROM dept WHERE id = #{id}
    </select>
</mapper>